.DS_Store
*.fasl
csp/ADT-Random/
csp/MPR-Random/
csp/MPR-Situation/.Sit-*
csp/MPR-Situation/Sit-*
qcsp3/ADT-Random/
qcsp3/ADT-Situation/
Q-Batch-SBCL/ij2/
Q-Batch-SBCL/ij3/
Q-Batch-SBCL/ij4/
Q-Batch-SBCL/*.out
qcsp3/ADT-Batch/Test-*
qcsp-may29-1996/ADT-Random/
qcsp-may29-1996/ADT-Situation/
qcsp-alex-sep16-1997/ADT-Random/
qcsp-alex-sep16-1997/ADT-Situation/
Q-Batch-SBCL/Graph/*.dat
Q-Batch-SBCL/Graph/*.all
Q-Batch-SBCL/Graph/*.p1
Q-Batch-SBCL/Graph/*.pdf
*~
*.bkp
*.bak
.venv/
