.DS_Store
*.fasl
csp/ADT-Random/
csp/MPR-Random/
csp/MPR-Situation/.Sit-*
csp/MPR-Situation/Sit-*
qcsp3/ADT-Random/
qcsp3/ADT-Situation/
Q-Batch-SBCL/ij2/
Q-Batch-SBCL/ij3/
Q-Batch-SBCL/ij4/
Q-Batch-SBCL/*.out
